.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ButtonContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.ToggleButton{
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1px solid;
  color: white;
  cursor: pointer;
  margin: 10px;
  width: calc(33.33% -20px);
}

.ToggleButton.red{
  background-color: red;
}

.ToggleButton.blue{
  background-color: blue;
}

.ToggleButton.green{
  background-color: green;
}

.ToggleButton.active {
  opacity: 0.7;
}

.TimeContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.TimeItem {
  border: 1px solid #000;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
  width: calc(33.33% -20px);
}

.TimeItem.active {
  background-color: lightgrey;
}

/*Responsive styles for TimeItem*/
@media (max-width: 600px){
  .TimeItem{
    width: 100%;
    margin-bottom: 10px;
  }
  .ToggleButton{
    width: 100%;
  }
}

@media (max-width: 601px){
  .TimeItem{
    width: calc(33.33% -20px);
    margin-bottom: 10px;
  }
  .ToggleButton{
    width: calc(33.33% -20px);
  }
}